.nav-list {
    display: inline;
    align-items: center;
    list-style: none;
    gap: 3rem;
    padding left: 10px;
}

.nav-list a {
    color: rgb(2, 2, 17);
    text-decoration: none;
    border-radius: 4px;
}

.fonts {
   font-family: "Roboto", sans-serif; 
}